//-----------------------
// WiFi Configuration

const char* WIFI_SSID = "wifiSsid";
const char* WIFI_PASS = "wifiPassword";

//-----------------------
// MQTT Configuration
const char* local_hostname = "localHostname";
const char* mqtt_server = "mqttServer";
const char* mqtt_username = "mqttUsername";
const char* mqtt_passsword = "mqttPassword";
