//-----------------------
// WiFi Configuration

const char *WIFI_SSID = "";
const char *WIFI_PASS = "";

//-----------------------
// MQTT Configuration
const char *local_hostname = "";
const char *mqtt_server = "";
const char *mqtt_username = "";
const char *mqtt_passsword = "";