//-----------------------
// WiFi Configuration

;const char* WIFI_SSID = "mySSID";
;const char* WIFI_PASS = "myPassword";

//-----------------------
// MQTT Configuration
;const char* local_hostname = "myHostName";
;const char* mqtt_username = "myUsername";
;const char* mqtt_passsword = "myPassword";
